@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on the <span id="title-book">Book</span> App</h1>
    <p>We're happy to see you here. Feel free to consult the list of books using the "Books" button.</p>
    <p>Or maybe you want to see the list of available Genres with the "Genres" button.</p>
    <p>Want to add a book? Simply click on the "Add a new book".</p>
    <p>Or maybe a new genre? You got it, "Add a new genre".</p>
    <p>Use the swaggidy swag Swagger on the top right to see all the API routes.</p>
</div>


