@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>By using this website you agree that we can register all data we want without any problem from you,
    including but not limited to your full legal name, your address, your phone number, your marital situation,
    your favorite dish as well as favorite restaurant and hobbies.</p>
<p>By staying more than 6 minutes and 21 seconds on this website you also agree that you will give us the maximum grade for the project.</p>
